<h1>Agregar Series</h1>
<br><br><br>
<%= form_with model: @serie, method: :post do |form| %>
        <div class="col-4">
                <div>
                        <%= form.label :name, "Serie", class: "form-label" %>
                        <%= form.text_field :name, class: "form-control" %>
                </div>
                <div>
                        <%= form.label :synopsis, "Sinópsis", class: "form-label" %>
                        <%= form.text_field :synopsis, class: "form-control" %>
                </div>
                <div>
                        <%= form.label :director, "Director", class: "form-label" %>
                        <%= form.text_field :director, class: "form-control" %>
                </div>

                <div>
                        <%= form.submit "Crear Serie", class: "btn btn-primary" %>
                </div>
        <div>
<% end %>